mixin simple-notification(options)
    - options = options || {};
    - options['alertClass'] = options.alertClass || NULL;
    div(class="notification simple-notification alert #{options.alertClass}", role="alert")
        block

mixin button-notification(options)
    - options = options || {};
    - options['alertClass'] = options.alertClass || NULL;
    div(class="notification button-notification alert #{options.alertClass} alert-dismissible", role="alert")
        +button({classes: 'close', data: {dismiss: 'alert'}})
            +icon({hidden: 'true'})
                | &times;
            span.sr-only Close
        block
