mixin simple-notification(options)
    - options = options || {};
    - options['alertClass'] = options.alertClass || NULL;
    div(class="notification simple-notification alert #{options.alertClass}", role="alert")
        block
