.notification {
    .emil-states;
    margin: @padding-base-horizontal @padding-base-vertical;
    padding: @padding-base-horizontal - 1 @padding-base-vertical;
    margin: 0 auto;
    width: 100%;
    z-index: 1000;

    &.shown {
        top: @padding-base-horizontal / 2;
    }

    &.danger {

        .close {
            border: 1px solid @danger;
            color: @danger;

            &:hover {
                background: transparent;
                color: @danger;
            }
        }
    }

    &.success {

        .close {
            border: 1px solid @success;
            color: @success;

            &:hover {
                background: transparent;
                color: @success;
            }
        }
    }

    &.info {

        .close {
            border: 1px solid @info;
            color: @info;

            &:hover {
                background: transparent;
                color: @info;
            }
        }
    }

    &.warning {

        .close {
            border: 1px solid @warning;
            color: @warning;

            &:hover {
                background: transparent;
                color: @warning;
            }
        }
    }

    .close {
        font-size: 21px;
        margin: 0;
        opacity: 1;
        right: 0;
        line-height: 16px;
        text-shadow: none;

        .icon {

            &.sm {
                font-size: 16px;
                line-height: 16px;
                height: 16px;
                width: 16px;
            }
        }
    }
}
