mixin panel(options)
    - options = options || {};
    - options['id'] = options.id || '';
    - options['classes'] = options.classes || '';

    .panel.panel-default(class=options.classes)
        block

mixin panel-left-side(options)
    - options = options || {};
    - options['classes'] = options.classes || '';

    .panel-left-side(class=options.classes)
        block

mixin panel-right-side(options)
    - options = options || {};
    - options['classes'] = options.classes || '';

    .panel-right-side(class=options.classes)
        block

mixin panel-header
    .panel-heading
        block

mixin panel-body
    .panel-body
        block

mixin panel-footer
    .panel-footer
        block
