.emil-panel {
    border: @panel-default-border 1px solid;
    padding: 0;
    .clearfix;

    .emil-panel-left-side,
    .emil-panel-right-side {
        padding: 0;
    }

    .emil-panel-heading,
    .emil-panel-body {
        border-bottom: @panel-default-border 1px solid;
    }
}
