
mixin table-cell(options)
    //- Set default values
    - options             = options          || {};
    - options['classes'] = options.classes || '';

    li.table-cell(data-id=options.dataID, class=options.classes)
        block

mixin nav-table-cell(options)
    //- Set default values
    - options             = options          || {};
    - options['classes'] = options.classes || '';
    - options['target'] = options.target || '';

    li.nav-table-cell(class=options.classes, data-target=options.target)
        block