mixin table-view(options)
    - options = options || {};
    - options['classes'] = options.classes || '';
    - options['hidden'] = options.hidden ? 'hidden' : '';
    ul.table-view(class='#{options.classes} #{options.hidden}')
        block
