mixin emil-view(options)
    - options = options || {};
    - options['classes'] = options.classes || '';
    .emil-view.container-fluid(class="#{options.classes}")
        block

mixin emil-app-view
    div.emil-app-view
        block

mixin emil-view-header(options)
    - options = options || {};
    - options['classes'] = options.classes || '';
    .emil-view-header
        block

mixin emil-view-content
    .emil-view-content
        block
