mixin view(options)
    - options = options || {};
    - options['classes'] = options.classes || '';
    .view.container-fluid(class="#{options.classes}")
        block

mixin app-view(options)
    - options = options || {};
    div.app-view
        block

mixin view-header(options)
    - options = options || {};
    - options['classes'] = options.classes || '';
    .view-header
        block

mixin view-content
    .view-content
        block
