@font-face {
	font-family: 'SSPBlack';
	src: url('../fonts/sourcesanspro/SourceSansPro-Black.otf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'SSPBlackItalic';
	src: url('../fonts/sourcesanspro/SourceSansPro-BlackIt.otf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'SSPBold';
	src: url('../fonts/sourcesanspro/SourceSansPro-Bold.otf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'SSPBoldItalic';
	src: url('../fonts/sourcesanspro/SourceSansPro-BoldIt.otf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'SSPExtraLight';
	src: url('../fonts/sourcesanspro/SourceSansPro-ExtraLight.otf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'SSPExtraLightItalic';
	src: url('../fonts/sourcesanspro/SourceSansPro-ExtraLightIt.otf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'SSPItalic';
	src: url('../fonts/sourcesanspro/SourceSansPro-It.otf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'SSPLight';
	src: url('../fonts/sourcesanspro/SourceSansPro-Light.otf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'SSPLightItalic';
	src: url('../fonts/sourcesanspro/SourceSansPro-LightIt.otf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'SSPRegular';
	src: url('../fonts/sourcesanspro/SourceSansPro-Regular.otf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'SSPSemibold';
	src: url('../fonts/sourcesanspro/SourceSansPro-Semibold.otf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'SSPSemiboldItalic';
	src: url('../fonts/sourcesanspro/SourceSansPro-SemiboldIt.otf');
	font-style: normal;
	font-weight: normal;
}

html {
	font-family: "SSPRegular", Arial, sans-serif;
	font-size: 62.5%;
	line-height: 1;
}

.font-size(@sizeValue) {
	@remValue: @sizeValue;
	@pxValue: (@sizeValue * 10);
	font-size: ~"@{pxValue}px";
	font-size: ~"@{remValue}rem";
}

.line-height(@lineValue) {
	@remlineValue: @lineValue;
	@pxlineValue: (@lineValue * 10);
	line-height: ~"@{pxlineValue}px";
	line-height: ~"@{remlineValue}rem";
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'SSPRegular';
	font-size: 14px;
	line-height: 20px;
}

.typo {
	.font-size(1.0);
	.line-height(1.4);

	&.label {
		font-size: 0.8rem;
		font-weight: bold;
	}
	&.progressLabel {
		font-size: 1.2rem;
		line-height: 2.1rem;
	}
	&.content{
		font-size: 0.95rem;
		font-weight: bold;
		line-height: 1.34;
	}
	&.contentHeader{
		font-size: 1rem;
		font-weight: bold;
		line-height: 1.5rem;
	}
	&.dropdown{
		font-size:  1.1rem;
	}
	&.projectNameLabel {
		font-size: 1.1rem;
		line-height: 1.5rem;
		font-weight: bold;
		vertical-align: text-bottom;
	}
	&.badgeLabel {
		.font-size(1.1);
		.line-height(1);
	}
	&.lineHeight120 {
		line-height: 120%;
	}
}

.no-select {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	-o-user-select: none;
	user-select: none;
}
