//- @TODO rewrite in topdoc syntax
//- Options:
    classes: several css classes like grey, loginBtn etc.
    priority: adds color prior to the priority like primary, info, warning etc.
    size: defines the size like xs, sm, md etc.

mixin badge(options)
    //- Set default values
    - options                = options             || {};
    - options['classes']     = options.classes     || '';

    .badge(class='#{options.classes}', id=options.id)
        block
