//- @TODO rewrite in topdoc syntax
//- Options:
    classes: several css classes like grey, loginBtn etc.
    priority: adds color prior to the priority like primary, info, warning etc.
    size: defines the size like xs, sm, md etc.

mixin badge(options)
    //- Set default values
    - options                = options             || {};
    - options['classes']     = options.classes     || '';
    - options['priority']    = options.priority    || 'default';
    - options['size']        = options.size        || 'md';

    .emil-badge(class='emil-badge-#{options.size} #{options.classes} #{options.priority}', id=options.id)
        block
