.emil-states {
    &.primary {
        background-color: @primaryColor;
    }

    &.default {
        background-color: @defaultColor;
    }

    &.warning {
        background-color: @warningColor;
    }

    &.critical {
        background-color: @critColor;
    }

    &.info {
        background-color: @infoColor;
    }

    &.disabled {
        .opacity(.35);
        .no-user-selection;
    }
}
