// Button
// --------------------------------------------------

.emil-btn {
    .btn;
    .emil-states;
    .button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; @border-radius-base);
    text-shadow: @btn-text-shadow;
    width: auto;
    .clearfix;
    color: @btn-default-color;

    .glyphicon {
        float: left;
        font-size: 12px;
        display: block;
    }

    &.simple-btn {
        font-weight: normal;
        .clearfix;
    }

    &.icon-btn {
        padding: 4px;
        width: 60px;

        .icon {
            margin: 3px 10px 3px 3px;
        }

        .text {
            color: white;
            text-shadow: none;
        }
    }
}

// Button Sizes
// --------------------------------------------------

.emil-btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  .button-size(@padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @border-radius-large);
}
.emil-btn-sm {
  // line-height: ensure proper height of button next to small input
  .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @border-radius-small);
}
.emil-btn-xs {
  .button-size(@padding-xs-vertical; @padding-xs-horizontal; @font-size-small; @line-height-small; @border-radius-small);
}
