@font-path: 'font';

// For Bootstrap Grid
//** Number of columns in the grid.
@grid-columns:              16;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         20px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:     @screen-sm-min;
//** Point at which the navbar begins collapsing.
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);
