mixin article(options)
    - options = options || {};
    - options['id'] = options.id || '';
    - options['classes'] = options.classes || '';
    .article(class=options.classes, id=options.id)
        .overlay
        block

mixin article-header
    .article-header
        block

mixin article-content
    .article-content
        block