mixin master(options)
    - options            = options         || {};
    - options['id']      = options.id      || '';
    - options['classes'] = options.classes || '';
    - options['columns'] = options.columns || 'col-md-3 col-sm-10';
    .master(id='#{options.id}', class='#{options.columns} #{options.classes}')
        block

mixin detail(options)
    - options            = options         || {};
    - options['columns'] = options.columns || '';
    .detail.fluid-container(class='#{options.columns}')
        block

mixin master-detail
    .master-detail
        block

mixin sidebar-btn
     .sidebar-btn
        block
