mixin master(options)
    - options = options || {};
    - options['columns'] = options.columns || 3;
    - options['closed'] = options.closed ? 'closed' : '';
    - options['gridSize'] = options
    .master(class='col-md-#{options.columns} #{options.closed}')
        block

mixin detail(options)
    - options = options || {};
    - options['columns'] = options.columns || 9;
    .detail.fluid-container
        block

mixin master-detail
    .master-detail
        block


mixin sidebar-btn
     .sidebar-btn
        block
