.master-detail {
  .translate3d(0,0,0);
  height: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar; //MAKE SCROLLBARS ON IE HALFTRANSPARENT
  background-color: @body-bg;

  .master {
    .translate3d(0,0,0);
    .transition(.1s);
    .no-user-selection;
    display: block;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: @body-bg;
    padding-right: 0;
    padding-left: 0;

    &.closed {
      width: 50px;
    }
  }

  .detail {
    .transition(.1s);
    .box-shadow(-1px 0 2px rgba(0,0,0,.35));
    .translate3d(0,0,0);
    padding: 10px;
    height: 100%;
    overflow-y: auto;
    background-color: white;
  }
}
