mixin master(options)
    - options = options || {};
    - options['columns'] = options.columns || 3;
    .master(class='col-md-#{options.columns}')
        block

mixin detail(options)
    - options = options || {};
    - options['columns'] = options.columns || 9;
    .detail(class='col-md-#{options.columns}')
        block

mixin master-detail
    .master-detail
        block
