.emil-master-detail {
  .translate3d(0,0,0);
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .emil-master {
    .translate3d(0,0,0);
    .transition(.1s);
    .no-user-selection;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: @body-bg;
    display: block;
    height: 100%;
    padding-right: 0;
    padding-left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    width: @detail-desktop-offset-x;
  }

  .emil-detail {
    .transition(.1s);
    .box-shadow(-1px 0 2px rgba(0,0,0,.35));
    .translate3d(0,0,0);
    position: relative;
    height: 100%;
    overflow-y: auto;
    background-color: white;
    margin-left: @detail-desktop-offset-x;
  }

  .emil-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: @body-bg;
  }

  &.isClose {

    .emil-master {
      width: @detail-desktop-width;
    }

    .emil-detail {
      margin-left: @detail-desktop-width;
    }
  }
}

@media (max-width: @screen-md-min) {

  .emil-master-detail {

    .emil-master {
      width: 100%;
      z-index: 2;
    }

    .emil-detail {
      margin-left: 0;
      top: @detail-mobile-offset-y;
      width: 100%;
      z-index: 3;
    }

    .emil-sidebar {
      top: @detail-mobile-offset-y;
      width: 90%;
      left: 100%;
      z-index: 1;
    }

    &.isClose {

      .emil-master {
        width: 100%;
      }

      .emil-detail {
        margin-left: @detail-mobile-offset-x;
        top: @detail-mobile-offset-y;
      }
    }

    &.isSidebarOpen {

      .emil-master {
        z-index: 1;
      }

      .emil-detail {
        margin-left: -90%;
        top: @detail-mobile-offset-y;
        z-index: 3;
      }

      .emil-sidebar {
        width: 90%;
        left: 10%;
        z-index: 2;
      }
    }
  }
}
