mixin master(options)
    - options = options || {};
    - options['classes'] = options.classes || '';
    - options['columns'] = options.columns || 'col-md-3';
    - options['closed'] = options.closed ? 'closed' : '';
    - options['collapsed'] = options.collapsed || '';
    .master(class='#{options.columns} #{options.classes} #{options.closed} #{options.collapsed}')
        block

mixin detail(options)
    - options = options || {};
    - options['columns'] = options.columns || 9;
    .detail.fluid-container
        block

mixin master-detail
    .master-detail
        block


mixin sidebar-btn
     .sidebar-btn
        block
