.emil-state-factory(@brand; @contrast){
    @border: ~"btn-@{brand}-border";
    @color: ~"btn-@{brand}-color";
    @bg: ~"btn-@{brand}-bg";
    @handle-bg: ~"btn-@{brand}-handle-bg";
    @contrast-color: ~"btn-@{brand}-contrast-color";
    @active-bg: ~"btn-@{brand}-active-bg";

    .emil-handle{

        &.@{brand} {    
            .transition.easeInCubic;
            border-color: @@border;
            background: @@handle-bg;
            
            &:hover {
                background-color: lighten(@@color, 85%);
            }

            &:active,
            &.active,
            &:focus {
                background-color: lighten(@@color, 45%);
            }
        }
    }


    &.@{brand} {
        .transition.easeInCubic;
        border-color: @@border;
        background: @@bg;

        .emil-label {
            color: @@color;
        }

        .emil-handle-marker {
            background-color: @@bg;
        }

        .icon {
            div {
                background-color: @@color;
            }
        }
        &:hover {
            background: @@active-bg;

            .emil-label {
                color: @@contrast-color;
            }

            .icon {
                div {
                    background-color: @contrast;
                }
            }
        }

        &:active,
        &.active,
        &:focus {
            background: @@active-bg;
            
            .emil-label {
                color: @@contrast-color;
            }
        }
        &.active {
            
        }
    }
}

.emil-states {
    .emil-state-factory(@brand: default; @contrast: default);
    .emil-state-factory(@brand: primary; @contrast: white;);
    .emil-state-factory(@brand: danger; @contrast: white;);
    .emil-state-factory(@brand: success; @contrast: white;);
    .emil-state-factory(@brand: info; @contrast: white;);
    .emil-state-factory(@brand: warning; @contrast: white;);

    &.disabled:not(.table-cell-nav) {
        .opacity(.35);
        .no-user-selection;
    }
}
