.emil-state-factory(@brand; @contrast){
    @border: ~"btn-@{brand}-border";
    @color: ~"btn-@{brand}-color";
    @bg: ~"btn-@{brand}-bg";
    @handle-bg: ~"btn-@{brand}-handle-bg";


    .emil-handle{

        &.@{brand} {
            .transition(0.1s);
            border-color: @@border;
            color: @@color;
            background-color: @@bg;
            background: @@bg;

            .emil-label {
                color: @contrast;
            }

            .emil-handle-marker {
                background-color: darken(@@color, 15%);
            }

            .icon {
                div {
                    background-color: @@color;
                }
            }

            &:hover {
                background: @@color;
                color: @contrast;

                .emil-label {
                    color: @contrast;
                }
            }
            
            &:active,
            &.active {
                background: lighten(@@color, 6%);
            }
        }
    }
}

.emil-states {
    .emil-state-factory(@brand: default; @contrast: default);
    .emil-state-factory(@brand: primary; @contrast: white;);
    .emil-state-factory(@brand: danger; @contrast: white;);
    .emil-state-factory(@brand: success; @contrast: white;);
    .emil-state-factory(@brand: info; @contrast: white;);
    .emil-state-factory(@brand: warning; @contrast: white;);

    &.disabled {
        .opacity(.35);
        .no-user-selection;
    }
}
