.emil-label {
	.no-user-selection;

	&.critical,
	&.warning {
		color: white;
	}

	&.xs {
		font-size: @font-size-small;
		line-height: 16px;
	}
	&.sm {
		font-size: @font-size-base;
		line-height: 16px;
	}
	&.md {
		font-size: @font-size-base;
		line-height: 24px;
	}
	&.lg {
		font-size: @font-size-large;
		line-height: 32px;
	}
}
