mixin icon(options)
    //- Setting default values
    - options['type']     = options.type     || '';
    - options['hidden']     = options.hidden     || '';
    - options['size']     = options.size     || 'sm';
    - options['target']     = options.target     || '';
    span.icon(class='#{options.type} #{options.size}', aria-hidden=options.hidden, data-target=options.target)
        block
