.icon {
    background-image: url('../img/icons/placeholder.svg');
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    // display: block;
    height: 16px;
    width: 16px;

    &.sm {
        background-size: 16px;
        height: 16px;
        width: 16px;
    }

    &.md {
        background-size: 24px;
        height: 24px;
        width: 24px;
    }

    &.lg {
        background-size: 32px;
        height: 32px;
        width: 32px;
    }

    // &.goTo{
    //     background-image: url('../img/icons/goTo.svg');
    // }

    // &.closeUploader{
    //     background-image: url('../img/icons/uploader.svg');
    // }

    // &.upload {
    //     background-image: url('../img/icons/folder_blue.svg');
    //     height: 25px;
    //     width: 25px;
    // }

    // &.download {
    //     background-image: url('../img/icons/download.svg');
    // }

    // &.raw {
    //     background-image: url('../img/icons/raw.svg');
    // }

    // &.xml {
    //     background-image: url('../img/icons/xml.svg');
    //     background-repeat: no-repeat;
    //     background-position: 0 0;
    //     cursor: pointer;
    //     display: block;
    //     height: 94px;
    //     width: 54px;
    // }

    // &.file {
    //     background-image: url('../img/icons/file.svg');
    // }

    // &.systemFileStarRecent {
    //     background-image: url('../img/icons/systemFileStar.svg');
    //     background-size: 10px;
    //     background-position: 0 -10px;
    //     height: 10px;
    //     width: 10px;
    // }

    // &.systemFileStar {
    //     background-image: url('../img/icons/systemFileStar.svg');
    //     background-size: 10px;
    //     background-position: 0 0;
    //     height: 10px;
    //     width: 10px;
    // }

    // &.commissioningSkip {
    //     background-image: url('../img/icons/commissioningSkip.svg');
    //     background-size: 10px;
    //     height: 10px;
    //     width: 10px;
    //     margin: 3px;
    // }

    // &.commissioningBigger {
    //     background-image: url('../img/icons/commissioningBigger.svg');
    // }

    // &.commissioningSubrack {
    //     background-image: url('../img/icons/commissioningSubrack.svg');
    //     background-size: 10px;
    //     background-position: 0 -10px;
    //     height: 10px;
    //     width: 10px;
    //     margin: 3px;
    // }

    // &.commissioningDevice {
    //     background-image: url('../img/icons/commissioningDevice.svg');
    //     background-size: 10px;
    //     background-position: 0 -10px;
    //     height: 10px;
    //     width: 10px;
    //     margin: 3px;
    // }
    // &.commissioningPort {
    //     background-image: url('../img/icons/commissioningPort.svg');
    //     background-size: 10px;
    //     background-position: 0 -10px;
    //     height: 10px;
    //     width: 10px;
    //     margin: 3px;
    // }

    // &.commissioningToggler,
    // &.populationToggler{
    //     background-image: url('../img/icons/commissioningTogglerDefault.svg');
    //     background-size: 10px;
    //     background-position: 0 0;
    //     height: 10px;
    //     width: 10px;
    //     margin: 3px;

    //     &.close {
    //         background-position: 0 0;
    //     }

    //     &.open {
    //         background-position: 0 -10px;
    //     }
    // }

    // &.accordionTogglerIcon {
    //     background-image: url('../img/icons/commissioningTogglerDefault.svg');
    //     background-size: 8px;
    //     background-position: 0 0;
    //     height: 8px;
    //     width: 8px;
    //     margin: 4px;
    //     background-position: 0 -7px;

    //     &.isOpen{
    //         background-position: 0 1px;
    //     }
    // }

    // &.commissioningColumnRight {
    //     background-image: url('../img/icons/commissioningColumnRight.svg');
    //     background-size: 10px;
    //     height: 10px;
    //     width: 10px;
    //     margin: 3px;
    // }

    // &.commissioningColumnLeft {
    //     background-image: url('../img/icons/commissioningColumnLeft.svg');
    //     background-size: 10px;
    //     height: 10px;
    //     width: 10px;
    //     margin: 3px;
    // }

    // &.all {
    //     background-image: url('../img/icons/skipped_all.svg');
    //     background-size: 10px;
    //     height: 10px;
    //     width: 10px;
    //     margin: 3px;
    // }

    // &.skipped_all {
    //     background-image: url('../img/icons/all.svg');
    //     background-size: 10px;
    //     height: 10px;
    //     width: 10px;
    //     margin: 3px;
    // }

    // &.openDetails {
    //     background-image: url('../img/icons/open_detail.svg');
    //     background-size: 10px;
    //     height: 10px;
    //     width: 10px;
    //     margin: 3px;
    // }

    // &.subrackCloseOpen{
    //     background-image: url('../img/icons/subrackCloseOpen.svg');
    //     background-size: 10px;
    //     background-position: 0 -8px;
    //     height: 10px;
    //     margin: 4px;
    //     width: 10px;

    //     &.shown {
    //         background-position: 0 0px;
    //     }

    //     &:hover {
    //         background-position: 0 -8px;
    //     }
    // }

    // &.subrack2 {
    //     background-image: url('../img/icons/subrack2.svg');
    // }

    // &.favRemove {
    //     background-image: url('../img/icons/favRemove.svg');
    //     background-size: 10px;
    //     background-position: 0 0px;
    //     height: 10px;
    //     margin: 4px;
    //     width: 10px;
    // }

    // &.favStar {
    //     background-image: url('../img/icons/favStar.svg');
    //     background-size: 10px;
    //     background-position: 0 0px;
    //     height: 10px;
    //     margin: 4px;
    //     width: 10px;
    //     position: relative;
    //     left: 10px;
    // }

    // &.rack {
    //     background-image: url('../img/icons/rack.svg');
    // }

    // &.service {
    //     background-image: url('../img/icons/service.svg');
    // }

    // &.close {
    //     background-image: url('../img/icons/close.svg');
    //     background-size: 16px;
    //     background-position: 0 -8px;
    // }

    // &.commscope {
    //     background-image: url('../img/logo/commscope_logo.svg');
    //     background-size: 16px;
    // }

    // &.end {
    //     cursor: default;
    //     opacity: 0.5;
    // }

    // &.sidebarAddonClose {
    //     background-image: url('../img/icons/sidebarAddonClose.svg');
    //     background-size: 10px;
    //     height: 10px;
    //     width: 10px;
    // }

    // &.documents {
    //     background-image: url('../img/icons/documents.svg');
    //     background-size: 10px;
    //     height: 10px;
    //     width: 10px;
    // }

    // &.server {
    //     background-image: url('../img/icons/server.svg');
    //     background-size: 10px;
    //     height: 10px;
    //     width: 10px;
    // }

    // &.sort {
    //     background-image: url('../img/icons/sort.svg');
    //     height: 8px;
    //     width: 8px;
    // }

    // &.next {
    //     background-image: url('../img/icons/next.svg');
    // }

    // &.prev {
    //     background-image: url('../img/icons/prev.svg');
    // }

    // &.alarms {
    //     background-image: url('../img/icons/alarm.svg');
    // }

    // &.commissioning {
    //     background-image: url('../img/icons/commissioning.svg');
    // }

    // &.service {
    //     background-image: url('../img/icons/service.svg');
    // }

    // &.connectivity {
    //     background-image: url('../img/icons/connectivity.svg');
    // }

    // &.dashboard {
    //     background-image: url('../img/icons/dashboard.svg');
    // }

    // &.devider {
    //     background-image: url('../img/icons/devider.svg');
    // }

    // &.help {
    //     background-image: url('../img/icons/help.svg');
    // }

    // &.logout {
    //     background-image: url('../img/icons/logout.svg');
    // }

    // &.maximize {
    //     background-image: url('../img/icons/maximize.svg');
    // }

    // &.search {
    //     background-image: url('../img/icons/search.svg');
    // }

    // &.settings {
    //     background-image: url('../img/icons/settings.svg');
    // }

    // &.softwareUpdate {
    //     background-image: url('../img/icons/software_update.svg');
    // }

    // &.user {
    //     background-image: url('../img/icons/user.svg');
    // }

    // &.sidebar {
    //     background-image: url('../img/icons/sidebar.svg');
    // }

    // &.device {
    //     background-image: url('../img/icons/device.svg');
    // }

    // &.star {
    //     background-image: url('../img/icons/star.svg');
    //     background-position: 0 -8px;
    //     background-size: 8px;
    // }

    // &.locator {
    //     background-image: url('../img/icons/locator.svg');
    //     background-position: 0 -8px;
    //     background-size: 8px;
    // }

    // &.diagrams {
    //     background-image: url('../img/icons/diagrams.svg');
    //     background-position: 0 -8px;
    //     background-size: 8px;
    // }

    // &.gear {
    //     background-image: url('../img/icons/gear.svg');
    //     background-position: 0px -8px;
    //     background-size: 8px;
    // }

    // &.subrack {
    //     background-image: url('../img/icons/subrack.svg');
    //     background-position: 0px 0px;
    //     background-size: 10px;
    //     height: 10px;
    //     width: 10px;
    // }
}