.icon {
    display: block;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    height: 16px;
    width: 16px;

    &.sm {
        background-size: @icon-size-sm;
        height: @icon-size-sm;
        width: @icon-size-sm;
    }

    &.md {
        background-size: @icon-size-md;
        height: @icon-size-md;
        width: @icon-size-md;
    }

    &.lg {
        background-size: @icon-size-lg;
        height: @icon-size-lg;
        width: @icon-size-lg;
    }

    &.xl {
        background-size: @icon-size-xl;
        height: @icon-size-xl;
        width: @icon-size-xl;
    }

    // @FIX LOOKING FOR BETTER PLACE FOR HELPER CLASSES
    &.margin-right {
        margin-right: @padding-base-horizontal;
    }

    &.margin-left {
        margin-left: @padding-base-horizontal;
    }
}
