mixin alarmTable
	table(cellpadding='0', cellspacing='0').typo.alarmTable
		thead
			tr
				th.availability.typo.tableHeader
					span Availability
					+icon({type: 'sort'})
				th.raiseTime.typo.tableHeader.serviceTime
					span Raise Time
					+icon({type: 'sort'})
				th.typo.tableHeader
					span Description
					+icon({type: 'sort'})
				th.type(colspan='2').typo.tableHeader
					span Type
					+icon({type: 'sort'})
		tbody
			each val in [1, 2, 3]
				tr
					td
						+label({classes: 'critical', value: 'critical', translate: true})
					td.typo.tableContrast 09.07.2014 21:40
					td Communication Failure
					td.typo.tableContrast Device
					td
						+icon({type: 'help'})
						span.remedy Check connection / verify unit
							span.close X
				tr
					td
						+label({classes: 'minor', value: 'minor', translate: true})
					td.typo.tableContrast 09.07.2014 21:40
					td Communication Failure
					td.typo.tableContrast Device
					td
						+icon({type: 'help'})
						span.remedy Check BTS output level/attenuator configuration/RF cabling
							span.close X
				tr
					td
						+label({classes: 'warning', value: 'warning', translate: true})
					td.typo.tableContrast 09.07.2014 21:40
					td Communication Failure
					td.typo.tableContrast Device
					td
						+icon({type: 'help'})
						span.remedy Check ventilation and environment
							span.close X