mixin detailTabsServices
	ul.detailTabs
		li.detailTabsButton.detailTabsContent.serviceOverview.selected(data-target="serviceOverview") Overview
			.marker
		li.detailTabsButton.detailTabsContent.serviceLocation(data-target="serviceLocation") Location
			.marker
		li.detailTabsButton.detailTabsContent.serviceAlarms(data-target="serviceAlarms") Alarms
			.marker
		li.detailTabsButton.detailTabsContent.serviceSettings(data-target="serviceSettings") Settings
			.marker

mixin detailTabsDevices
	ul.detailTabs
		li.detailTabsButton.detailTabsContent.serviceOverview.selected(data-target="serviceOverview") Overview
			.marker
		li.detailTabsButton.detailTabsContent.serviceAlarms(data-target="serviceAlarms") Alarms
			.marker
		li.detailTabsButton.detailTabsContent.serviceSettings(data-target="serviceSettings") Settings
			.marker