mixin infoBox
	div.infoBox
		block

mixin leftBox
	div.leftBox
		block

mixin rightBox
	div.rightBox
		block

mixin deviceBox
	div.deviceBox
		div.deviceImage
			div.alarmMarker.critical
			img(src='img/devices/flatDevices/IFC_Webserver.svg')

mixin rackBox
	div.rackBox
		div.subrackImage
			img(src='img/devices/flatDevices/subrack_flat.svg')

mixin mapBox
	div.mapBox
		div.map
			div.adress
				h3.typo.detailViewMapHeader Rack 1
				p.typo.detailViewMapContent Entry Hall
				p.typo.detailViewMapContent Dallas, Tx
			img(src='img/service/bigMap.svg')

mixin logoBox
	div.logoContainer
		div.logo
			img(src='img/service/at_and_t.svg')