mixin search
	.searchContainer
		block

mixin searchResult
	div.searchResult
		dl
			dt.typo.searchResultHeader Devices
			each dev in ['1', '2', '3']
				dd
					+icon({type: 'device'})
					span.typo.searchResultList RU LP in Rack 1 - Subrack 1
					+icon({type: 'favStar'})
			dd.moreDivider.typo.searchResultList &hellip;
			dt.typo.searchResultHeader Alarms
			each dev in ['1', '2', '3']
				dd
					+icon({type: 'device'})
					span.typo.searchResultList RU LP in Rack 1 - Subrack 1
					+icon({type: 'favStar'})
			dt.typo.searchResultHeader Favourites
			each dev in ['1', '2', '3']
				dd
					+icon({type: 'device'})
					span.typo.searchResultList RU LP in Rack 1 - Subrack 1
					+icon({type: 'favStar'})