include button
include icon

mixin systemProfileFileDetail
	div.systemProfileFileDetail
		div.iconBox
			+icon({type: 'xml'})
		div.infoBox
			h2.typo.systemProfileInfoHeader PSTA2 merge SW-Empore based PhillyHUB003
			h3.typo.systemProfileInfoSubHeader 2 Services, 2 Bands, 2 Racks, 48 Devices
			p.typo.systemProfileInfoInfo Lorem Ipsum dolor sit amet
			p.typo.systemProfileInfoInfo uploaded: 12/07/2014 by:
				span.systemProfileUserLabel.cyan Jens Holze
		div.buttonBox
			+button({classes: 'download'})
				+icon({type: 'download'})
				p Download
			+button({classes: 'raw'})
				+icon({type: 'raw'})
				p View raw

mixin fileUploadBox
	div.fileUploadBox
		h2.typo.uploadBoxHeader Please drop your file(s) here.
		+button({classes: 'upload-btn'})
			+icon({type: 'upload'})
			span Choose File
