.typo {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

body {
  .typo;
  color: #333333;
  background-color: #ffffff;
}

h4 {
  margin: 0 0 20px 0;
}
