.typo {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: @defaultFontSize;
    line-height: @defaultLineHeight;

    &.font-header{
        color: white;
        font-size: 20px;
        font-weight: bold;
    }

    &.font-sidebar{
        color: white;
        padding: @defaultPadding @defaultPadding @defaultPadding * 2 @defaultPadding;
    }

    &.font-header-input {
        font-size: @defaultFontSize;
    }

    &.font-button {
        font-size: @defaultFontSize;
    }

    &.font-file-box-header {
        margin: 0 0 @defaultLineHeight 0;
    }

    &.font-file-box {
        color: @grey;
        font-size: 12px;
    }
}

body {
    .typo;
    color: #333333;
    background-color: #ffffff;
}

h2 {
    .typo;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 @defaultLineHeight 0;
}

h3 {
    .typo;
    font-weight: bold;
    margin: 0 0 @defaultLineHeight 0;
}