.header {
    padding: 14px 15px;
    .clearfix;

    .header-group-left {
        float: left;

        .icon {
            margin: 0 20px 0 7px;
        }
    }

    .header-group-right {
        float: right;
    }

    #info-button {

        .icon {
            margin: 0;
        }
    }

    h1 {
        font-size: 20px;
        font-weight: bold;
    }
}

