.header {
    padding: @padding-base-horizontal @padding-base-vertical;
    .clearfix;

    .header-group-left {
        float: left;

        * {
            float: left;
        }
    }

    .header-group-right {
        float: right;

        * {
            float: left;
        }
    }
}
