mixin emil-navbar(options)
    - options              = options              || {};
    - options['id']        = options.id           || '';
    - options['classes']   = options.classes      || '';
    - options['size']     = options.size        || '';
    .emil-navbar(class='#{options.classes} #{options.size}', role='navbar')
        block

mixin navbar-header
    .navbar-header
        block

mixin navbar-brand
    .navbar-brand
        block

mixin navbar-left
    ul.navbar-left.nav-navbar.nav
        block

mixin navbar-right
    ul.navbar-right.nav-navbar.nav
        block


