.media {
    display: table;
    margin: 0 0 @padding-base-horizontal 0;
    .clearfix;

    .media-left,
    .media-right,
    .media-body {
        vertical-align: top;
    }

    .media-left {
        padding-right: @padding-base-vertical;
        display: table-cell;
    }

    .media-right {
        padding-left: @padding-base-vertical;
        display: table-cell;
    }

    .media-list {

        .media-list {
            margin: @padding-base-horizontal 0 0 0;
        }
    }

    .media-body {
        display: table-cell;
        vertical-align: top;

        p {
            margin: 0;
        }
    }

    .media-heading {

        * {
            margin: 0 0 12px 0;
            line-height: 1;
        }
    }

    .media-middle {
        vertical-align: middle;
    }

    .media-bottom {
        vertical-align: bottom;
    }

    .media-left,
    .media-right {

        img {
            max-width: 100%;
        }

        &.rounded {

            img {
                border-radius: 50%;
                overflow: hidden;
            }
        }

        &.sm {
            .square(32px);
        }

        &.md {
            .square(64px);
        }

        &.lg {
            .square(128px);
        }

        &.xl {
            .square(256px);
        }

        &.xxl {
            .square(512px);
        }
    }
}
