mixin media(options)
    - options = options || {};
    - options['size'] = options.size || 'md';
    - options['classes'] = options.classes || '';
    - options['pull'] = options.pull || 'pull-left';
    .media(class='#{options.classes} #{options.size}')
        div(class=options.pull)
            block

mixin media-body
    .media-body
        block

mixin media-heading
    .media-heading
        block

