.emil-media {
    .media;
    width: 100%;
    margin-top: 0;
    
    .media-left, .media-right {
        padding-right: @padding-base-horizontal;
        &.circular {
            border-radius: 50%;
        }
        &.sm, &.md, &.lg, &.xl {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        &.sm {
            .square(32px);
        }
        &.md {
            .square(64px);
        }
        &.lg {
            .square(128px);
        }
        &.xl {
            .square(256px);
        }
        &.xxl {
            .square(512px);
        }
    }
    .media-left {
        float: left;
        margin-right: @padding-base-horizontal;
    }
    .media-right {
        float: right;
        margin-left: @padding-base-horizontal;
    }
}
