include components/master-detail/master-detail
include components/view/view
include components/table-view/table-view
include components/table-view/table-cell
include components/icon/icon
include components/label/label

doctype
html.no-js
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='emil.css')
    +app-view
        +master-detail
                +master({columns: 3})
                    +table-view
                        +nav-table-cell
                            +icon({type: 'glyphicon glyphicon-th-large'})
                            +label({label: 'Buttons'})
                        +nav-table-cell
                            +icon({type: 'glyphicon glyphicon-chevron-left'})
                            +label({label: 'Dropdowns'})
                        +nav-table-cell
                            +icon({type: 'glyphicon glyphicon-chevron-left'})
                            +label({label: 'Dropdowns'})
                        +nav-table-cell
                            +icon({type: 'glyphicon glyphicon-chevron-left'})
                            +label({label: 'Dropdowns'})
                        +nav-table-cell
                            +icon({type: 'glyphicon glyphicon-chevron-left'})
                            +label({label: 'Dropdowns'})
                        +nav-table-cell
                            +icon({type: 'glyphicon glyphicon-chevron-left'})
                            +label({label: 'Dropdowns'})

                +detail({columns: 13})
                    +view
                        +view-header({title: 'Buttons'})
                        +view-content
                            h1 EMIL
                            h3 Emil is an Extended Mixin library in Less
                            p EMIL is heavily based on Bootstrap. The aim of EMIL is to provide an extended set of Front-End Components based on Bootstrap.
                            .toc // Todo Mixin
                                ul 
                                    li Components
                                        ul
                                            li Buttons
                                                ul
                                                    li Wait Loader Buttons
                                                    li Icon Button
                                                    li Simple Button
                                                    li Button Bar
                                            li Dropdowns
                                                ul
                                                    li Navigation Dropdowns
                                            li Table View
                                                ul 
                                                    li Table Cells
                                                    li Navigation Table Cells
                                                    li Progress in Cells
                                                    li Expandable Table Cells
                                                    li Table Section Header
                                            li Gallery
                                                ul
                                                    li Thumbnails
                                                    li Gallery (UDO required)
                                                    li 

                                            li Slider
                                                ul
                                                    li Simple Slider
                                                    li Multiple Handles
                                                    li Threshold Slider
                                                    li Stepped Slider
                                                    li 
                                            li Sidebar
                                                ul
                                                    li 
                                                    li Mobile
                                                    li 
                            .toc // Todo Mixin
                                ul 
                                    li Components
                                        ul
                                            li Buttons
                                                ul
                                                    li Wait Loader Buttons
                                                    li Icon Button
                                                    li Simple Button
                                                    li Button Bar
                                            li Dropdowns
                                                ul
                                                    li Navigation Dropdowns
                                            li Table View
                                                ul 
                                                    li Table Cells
                                                    li Navigation Table Cells
                                                    li Progress in Cells
                                                    li Expandable Table Cells
                                                    li Table Section Header
                                            li Gallery
                                                ul
                                                    li Thumbnails
                                                    li Gallery (UDO required)
                                                    li 

                                            li Slider
                                                ul
                                                    li Simple Slider
                                                    li Multiple Handles
                                                    li Threshold Slider
                                                    li Stepped Slider
                                                    li 
                                            li Sidebar
                                                ul
                                                    li 
                                                    li Mobile
                                                    li 
                            blockquote
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis.
                                small Someone famous in 
                                    cite(title="") Body of work
